
body {
    background-color:rgb(238, 238, 238);
 }
 .barra-lateral {
    background-color:rgb(219, 219, 219);
    padding-left: 25px;
    height: 100%;
 }
 .flex-container {
     display: inline-flex;
     flex-wrap: wrap;
 }
 .card {
     margin: 15px 15px;
     height: 200px;
     
 }
#sectionTitle{
    margin: 15px 15px;
}

#userName {
    margin: 12px 0px;
}
 .addToDo {
     margin: 6px 0px;
 }